#pheonix-map {
    width: 100vw;
    height: 70vh;
}

#hartstone-map {
    width: 100vw;
    height: 70vh;
    background: #181818;
    display: none;
}

#logo {
    max-width: 100%;
}

.legend {
    padding: 10px;
    line-height: 18px;
    color: #555;
    background-color: #fff;
    border-radius: 5px;
}
  
.legend i {
    border: 1px solid black;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

h2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 16pt;
}

.desc {
    line-height: 1.65;
    font-size: 10pt;
}

.mini-portrait {
    height: 200px;
}

.blurb {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    line-height: 1.65;
    margin: 1em;
}

#summary {
    max-width: 750px;
}

.note {
    margin: 1em;
}

#legend-label {
    font-size: 16pt;
}

#select-map-view {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
}

label {
    margin: 1em;
}

#portrait {
    width: 400px;
    max-width: 50vw;
    margin: 0em 1em;
}

#character-info {
    margin: 1em;
}

#quick-facts {
    display: flex;
}